
*{
  margin:0;
  padding: 0;
  border: 0;
  color:#767474;
  color:#3a3a3a;
/*   background-color:#f7f8fc; */
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}
body{
  background-color: #f7f8fc;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(58%, #e7e7e7), to(#f7f8fc));
  background-image: linear-gradient(71deg, #e7e7e7 7%, #f7f8fc);
  width: 98vw;
}
h1{
  color:#4af557a6;
  font-size: 50px;
  margin-bottom:5%;
}
a{
  text-decoration: none !important;
}
a:hover{
  color: #111111cf;
}
img{
  position: relative;
  float:left;
  max-width: 400px;
}

.menu-bar{
  background-color: #333;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.btn-menu a{
  color: #f2f2f2;
  display: flex;
  width: 100%;
}
.btn-menu:hover{
  color: #fff;
  background: #1a1a1a7c;
  cursor: pointer;
}
.btn-menu-active, .btn-menu-active a{
  color: rgb(19, 19, 19);
  background: rgb(219, 221, 70);;
}

/* Colores */
.colores{
  background-color: #4af557a6;/* verde mate para botones sobre oscuros */
  background-color:#f7f8fc;/* Para fondo general */
  border-radius: 16px;/* Para card estilo app empresarial*/
  background-color: #3d2dff;/* Color boton 1*/
  color: #f0f1f7;/* Color boton 1*/
  padding: 1rem 2rem;/* Color boton 1*/
  align-self: flex-end;/* Color boton 1*/
}

.text-span-colored-green-1{/* Para resaltar un texto con color resaltado  */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(58%, #3d31f7), to(#10dd3c));
  background-image: linear-gradient(90deg, #3d31f7 14%, #10dd3c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-span-colored-green-2{/* Para resaltar un texto con color resaltado  */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(58%, #3d31f7), to(#10dd3c));
  background-image: linear-gradient(90deg, #3d31f7 -20%, #10dd3c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-span-colored-blue{/* Para resaltar un texto con color resaltado  */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(58%, #29bdff), to(#3d2dff));
  background-image: linear-gradient(90deg, #29bdff 58%, #3d2dff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leftSpace{
  padding-top: 9%;
}
.rightSpace{
  padding-top: 18%;
}
.logoRight{
  padding-top: 10%;
}

.pageContainer {
  width: 100%;
  min-height: 80vh;
  margin-bottom: 15%;
  padding-top: 5%;
}

.portfolio-item-card2{
  padding: 3%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 16px;
  min-height: 70vh;
}
.portfolio-item-card{
  padding: 3%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 16px;
  min-height: 70vh;
  background-color: #f7f8fc;
  border: none;
  box-shadow: #fff -6px -4px 4px 5px;
  
}
.portfolio-item-card-shadow{
  box-shadow: #a5a5a5 5px 5px 8px 7px;
  border-radius: 16px;
}
.portfolio-item-card-preview{}

.portfolio-item-card-img-container{
  display: flex;
  margin-bottom: 15px;
}
.portfolio-item-card-img-container img{
  margin: auto;
  box-shadow: #215478 1px 1px 9px 4px;
  border-radius: 5px;
}

.portfolio-item-card-img-selector{
  width: 100%;

  border: 1px solid #e5e5e5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline-flex;
  padding: 2%;
  padding-left: 15%;
  padding-right: 15%;
}
.portfolio-item-card-list{
  margin: auto;
}

.portfolio-item-card-list-option{
    padding: 2px;
    border: 1px solid #333;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
.portfolio-item-card-list-option:hover{
  cursor: pointer;
  background-color: rgb(215 205 205);
}
.portfolio-item-card-list .active{
  background-color: #333;
  color: #dfdfdf;
}


.portfolio-item-card-p-link{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.portfolio-item-card-p-link a{
  font-size: 11px
}

.date-text{
  font-style: oblique;
  color: #ababab;
  font-weight: 200;
  letter-spacing: 1px;
}

.date{
  color: #612dff;
  font-weight: 600;
}


/* Abajo de aquí estilos heredados y viejos puen no usarse en absoluto */





#filterColor{
    background: #44e2e2;
    position: absolute;
    width: 42%;
    display: block;
    height: -webkit-fill-available;
    z-index: 100;
    opacity: .6;
}

.photo{
    width: 98%; 
    background-color:#3d3d3d;
    border :4px solid #08fd75;
    filter: grayscale(100%) blur(1px);
    transform: translateX(55px);
    transition: filter 1s;
      transition: transform .5s;
    border-radius: 2px;
}
.photo:hover{
  box-shadow: 1px 1px 18px #000000cf;
  transform: translateX(40px);
  filter: grayscale(0%) blur(0px) ;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color:#3a3a3a;
}
input[type=text]:focus, textarea:focus {/*change the focus color default*/
    border-color: #08fd75;
    box-shadow: 0 1px 1px rgba(19, 191, 95, 0.075)inset, 0 0 8px rgba(8, 253, 117,0.6);
    outline: 0 none;/*remove the line  outline: 1px ridge rgba(8, 253, 117,0.6);*/  
}
input[type=submit] {
    background-color: #08fd75;
    color: white;
    padding: 12px 20px; 
    border-radius: 4px;  
}
input[type=submit]:hover {
  background-color: #02bd55;
  cursor: pointer;
}


.mailButton {
    background-color: #4af557a6;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    text-align: center;
}
.mailButton:hover {
  background-color: #02bd55;
  cursor: pointer;
}
.mailLink{
    text-align: center;
    background-color: rgba(19, 191, 95, 0);
    text-decoration: none;
    color: #3a3a3a;
    font: 400 20px/1.8 "Lato", sans-serif;
    letter-spacing: 2px;   
}

  svg:hover {

    fill: #fff !important;
     transform: translateX(3px);
  }

  #photoMobile{
    display: none;
  }

/* Para moviles*/
@media (max-width: 768px) {

  body{
    width: 100vw;
  }
  #photoReg{
    display: none;
  }
  #photoMobile{
    display: flex;
 
  }


  .portfolio-item-card-img-container img{
    max-width: 80vw;
  }
 
  #home{
    /* margin-top: 25%; */
    min-height: 600px;
    padding-top: 34px;
  }
  #about{
    padding-top: 60px;
  }
  #portfolio{
    padding-top: 60px;
  }
   
  #contact{
    padding-top: 50px;
  }
  .photo{
    transform: translateX(10px);
    transition: transform .5s;
  }
  .photo:hover{
    transform: translateX(0px);
  }
}


@media (min-width: 500px) {


}

