
*{
  margin:0;
  padding: 0;
  border: 0;
  color:#767474;
  color:#3a3a3a;
/*   background-color:#f7f8fc; */
 /* font-family: "San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;*/
  font-family: monospace;
}
body{
  background-color: #f7f8fc;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(58%, #e7e7e7), to(#f7f8fc));
  background-image: linear-gradient(71deg, #e7e7e7 7%, #f7f8fc);
  width: 98vw;
}
h1{
  color:#4af557a6;
  font-size: 50px;
  margin-bottom:5%;
}
a{
  text-decoration: none !important;
  border: none !important;
}
a:hover{
  color: #111111cf;
}
img{
  position: relative;
  float:left;
  max-width: 400px;
}

.menu-bar{
  background: #30457521;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.btn-menu{
  border-bottom: 1px solid #000;
    color: #333;
}
.btn-menu a{
   color: #333;
  display: flex;
  width: 100%;
}
.btn-menu:hover{
  color: #fff;
  background: #1a1a1a7c;
  cursor: pointer;
}
.btn-menu-active, .btn-menu-active a{
  color: rgb(19, 19, 19);
  background: rgb(243 244 247);
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #000;
  border-bottom: none;
}

/* Colores */
.colores{
  background-color: #4af557a6;/* verde mate para botones sobre oscuros */
  background-color:#f7f8fc;/* Para fondo general */
  border-radius: 16px;/* Para card estilo app empresarial*/
  background-color: #3d2dff;/* Color boton 1*/
  color: #f0f1f7;/* Color boton 1*/
  padding: 1rem 2rem;/* Color boton 1*/
  align-self: flex-end;/* Color boton 1*/
}

.text-span-colored-green-1{/* Para resaltar un texto con color resaltado  */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(58%, #3d31f7), to(#10dd3c));
  background-image: linear-gradient(90deg, #3d31f7 14%, #10dd3c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 50px;
  background-image: linear-gradient(127deg, #9b9b9b 30%, #525252);
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 8px;

}
.text-span-colored-green-2{/* Para resaltar un texto con color resaltado  */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(58%, #3d31f7), to(#10dd3c));
  background-image: linear-gradient(90deg, #3d31f7 -20%, #10dd3c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-span-colored-blue{/* Para resaltar un texto con color resaltado  */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(58%, #29bdff), to(#3d2dff));
  
  background-image: linear-gradient(183deg, #29ff9e 58%, #b8e5d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: monospace;
}

.leftSpace{
  padding-top: 9%;
}
.leftSpace h1,.leftSpace h1 span {
   font-family: "San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}
.rightSpace{
  padding-top: 18%;
}
.logoRight{
  padding-top: 10%;
}

.pageContainer {
  width: 100%;
  min-height: 80vh;
  margin-bottom: 15%;
  padding-top: 5%;
}

.portfolio-item-card2{
  padding: 3%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 16px;
  min-height: 70vh;
}
.portfolio-item-card{
  padding: 3%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 16px;
  min-height: 70vh;
  background-color: #f7f8fc;
  border: none;
  box-shadow: #fff -6px -4px 4px 5px;
  
}
.portfolio-item-card-shadow{
  box-shadow: #a5a5a5 5px 5px 8px 7px;
  border-radius: 16px;
}
.portfolio-item-card-preview{}

.portfolio-item-card-img-container{
  display: flex;
  margin-bottom: 15px;
}
.portfolio-item-card-img-container img{
  margin: auto;
  box-shadow: #215478 1px 1px 9px 4px;
  border-radius: 5px;
  transition: 0.5s;
  opacity: 89%;
}
  .imgPreviewClass{
    transition: 0.5s;
    
  /*  transition: src  2s linear 1s;*/
    /*filter:opacity(100%);*/
  }
   .imgPreviewClass:hover{
    transform: scale(1.2);
    cursor: pointer;
    opacity: 100%;
   }
 


.portfolio-item-card-img-selector{
  width: 100%;

  border: 1px solid #23313b;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline-flex;
  padding: 2%;
  padding-left: 15%;
  padding-right: 15%;
}
.portfolio-item-card-list{
  margin: auto;
}

.portfolio-item-card-list-option{
    padding: 2px;
    border: 1px solid #333;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
.portfolio-item-card-list-option:hover{
  cursor: pointer;
  background-color: rgb(215 205 205);
}
.portfolio-item-card-list .active{
  background-color: #333;
  color: #dfdfdf;
}


.portfolio-item-card-p-link{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.portfolio-item-card-p-link a{
  font-size: 11px
}

.date-text{
  font-style: oblique;
  color: #ababab;
  font-weight: 200;
  letter-spacing: 1px;
}

.date{
  color: #612dff;
  font-weight: 600;
}


/* Abajo de aquí estilos heredados y viejos puen no usarse en absoluto */





#filterColor{
    background: #44e2e2;
    position: absolute;
    width: 42%;
    display: block;
    height: -webkit-fill-available;
    z-index: 100;
    opacity: .6;
}

.photo{
    width: 98%; 
    background-color:#3d3d3d;
    border :4px solid #08fd75;
    filter: grayscale(100%) blur(1px);
    transform: translateX(55px);
    transition: filter 1s;
      transition: transform .5s;
    border-radius: 2px;
}
.photo:hover{
  box-shadow: 1px 1px 18px #000000cf;
  transform: translateX(40px);
  filter: grayscale(0%) blur(0px) ;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color:#3a3a3a;
}
input[type=text]:focus, textarea:focus {/*change the focus color default*/
    border-color: #08fd75;
    box-shadow: 0 1px 1px rgba(19, 191, 95, 0.075)inset, 0 0 8px rgba(8, 253, 117,0.6);
    outline: 0 none;/*remove the line  outline: 1px ridge rgba(8, 253, 117,0.6);*/  
}
input[type=submit] {
    background-color: #08fd75;
    color: white;
    padding: 12px 20px; 
    border-radius: 4px;  
}
input[type=submit]:hover {
  background-color: #02bd55;
  cursor: pointer;
}


.mailButton {
    background-color: #4af557a6;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    text-align: center;
}
.mailButton:hover {
  background-color: #02bd55;
  cursor: pointer;
}
.mailLink{
    text-align: center;
    background-color: rgba(19, 191, 95, 0);
    text-decoration: none;
    color: #3a3a3a;
    font: 400 20px/1.8 "Lato", sans-serif;
    letter-spacing: 2px;   
}

  svg:hover {

    fill: #fff !important;
     transform: translateX(3px);
  }

  #photoMobile{
    display: none;
  }

/* Para moviles*/
@media (max-width: 768px) {

  body{
    width: 100vw;
  }
  #photoReg{
    display: none;
  }
  #photoMobile{
    display: flex;
 
  }


  .portfolio-item-card-img-container img{
    max-width: 80vw;
  }
 
  #home{
    /* margin-top: 25%; */
    min-height: 600px;
    padding-top: 34px;
  }
  #about{
    padding-top: 60px;
  }
  #portfolio{
    padding-top: 60px;
  }
   
  #contact{
    padding-top: 50px;
  }
  .photo{
    transform: translateX(10px);
    transition: transform .5s;
  }
  .photo:hover{
    transform: translateX(0px);
  }
}


@media (min-width: 500px) {


}


.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-left-color: #075e85;
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


 .modal-image-view{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #00000052;
    padding: 2em;
    padding-top: 3em;
    overflow: auto;
    cursor: pointer;
 }
 .img-container{
    margin: auto;
    width: 80%;
 }
 .modal-img{
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 11px 0px #392a97;
    border: 1px solid #4c4c4c;
    position:relative;
 }
 .img-container:before {
    content: "X";
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    right: 1em;
    top: 2em;
    background-color: #f33;
    border-radius: 5px;
    color: #fff;
    font-size: xx-large;
    padding: 0.3em;
    text-align: center;
    font-family: sans-serif;
 }
 .img-container:before:hover{
  cursor: pointer;
 }
          
          .company-link{display: flex;flex-direction: column;align-items: flex-start;}
          .company-link span{color: #595959;margin-bottom: 8px;}
          .company-img-document{
            height: 40px;
              margin: 5px;
          }

          .p2 b{ color:#eca708 }

          .p2{    color: #c2c0c0;font-size: 18px;}



 /* ARROW */


 .arrow-body{
  //background: rgb(255, 255, 255);
  font-family:Arial, Helvetica;
  font-size:12px;
  color:rgb(80, 80, 80);
}

.center-con {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}

.round {
  position: absolute;
  border: 4px solid rgb(55 166 64);
  width: 75px;
  height: 75px;
  border-radius: 100%;
  
}

#cta{
  width:100%; cursor: pointer; position: absolute;
}

#cta .arrow{left: 30%;}
.arrow {
  position: absolute;
  bottom: 0;  
  margin-left:0px; 
  width: 27px;
  height: 26px;
  background-size: contain;
  top: 23px;
}
.segunda{margin-left: 13px;}
.next {
background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
filter: invert(0.6);
}

@keyframes bounceAlpha {
0% {opacity: 1; transform: translateX(0px) scale(1);}
25%{opacity: 0; transform:translateX(10px) scale(0.9);}
26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.round .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.round .arrow.primera{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
          

                  body{background:#211f24}
        img{border-radius: 5px;}
        .language-menu{display:flex;width:100%;padding:5px;margin: 2em;}
            .language-item{color:#fefefe;padding:5px}
            .language-item-selected{color:#33fe33 !important;}
        .profile-card{ 
      background: #1d1d20;
        padding: 5px;
        border: 2px solid #3a994c57;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        margin: 2em;
        box-shadow: 2px 2px 5px #010c03d4;
        }
            .profile-section-top{
              background: #202225;
              min-height: 250px;
          background-image: url('https://uploads-ssl.webflow.com/600739a0619d0ec723fc4bbc/601307553856b3255792c584_request_demo-left.svg');
          filter: hue-rotate(279deg);
            } 
            .profile-section-bottom{display:flex;border-top:4px solid #3a994c;flex-wrap: wrap;} 

                .profile-img-content{width:30%;margin-bottom: -13%;}
                .profile-img-content img{    
                  top: -45%;
            width: 70%;
            margin-left: 30%;
            border: 4px solid #37a640;
            border-radius: 5px 30px 30px 5px;
            box-shadow: 1px 1px 9px 2px #041a36;
        }
                .profile-titles{    
                  width: 64%;
            padding: 2px 30px;
        }
                    .profile-titles h1{width:100%;color: #f6f6ff;margin-bottom: 2%;}
                    .profile-titles h2{width:100%;color: #4af557a6;}
                    .profile-titles h3{width:100%;color: #d6d6ff;margin-top: 4%;}
                .profile-description{
                  width: 100%;
            padding: 2em 10%;
            font-size: 18px;
        }
        .profile-description p{
          text-align: center;
            color:#767474
        }
        .profile-techs{width: 100%;margin-bottom: 2em;}
          .profile-techs p{
            text-align: center;
              color: #1d548e;
              width: 100%;
              font-size: 20px;
          } 
                .profile-description-list{
                    width: 100%;
            color: #3333fe;
            display: flex;
            justify-content: space-evenly;
            padding: 3% 0;
        }
                    .profile-description-list-elem{
                      padding: 4px;
              margin-right: 3px;
              display: flex;
              align-items: center;
          }
                    .profile-description-list-elem svg{
                      height: 3em;
                      fill: #bf372b;
                      filter: drop-shadow(0px 0px 7px #0e0e0e);
                    }
                    .profile-description-list-elem span{
                      font-size: 1.5em;
              margin-left: 0.4em;
              color: #bebebe;
            }
      .tab-section-menu{display: flex;justify-content: center;margin: 60px 0 15px 0;}
          .tab-section-item{
            font-size: 2.5em;
            margin-left: 1em;
            color: #bebebe;
            border-bottom: 2px solid #3330;
          }
          .tab-section-item:hover{cursor: pointer;opacity: 0.5}
          .tab-section-item div{color: #8c8991}
          .tab-section-item-selected{border-bottom: 2px solid #2e713b;}

          .feed{display: flex;flex-direction: column;    padding-bottom: 15em;}
      .data-card{
        background: #1d1d20;
          border: 2px solid #272729;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          margin: 1em;
          padding: 4em 2em;
          box-shadow: 2px 2px 5px #010c03d4;
      }
        .data-card-header{display: flex;}
          .data-card-header-foto{
              display: flex;
              justify-content: flex-end;
              margin-right: 0;
          }
            .data-card-header-foto img{
                border: 4px solid #37a640;
                box-shadow: 1px 1px 9px 2px #041a36;
                height: 50px;
                border-radius: 8px;
            }
          .data-card-header-title{width: 80%}
            .tag-title{
              background: #0e0e0e;
                color: #548a55;
                border-radius: 0 8px 8px 0;
                padding: 5px 12px;
                width: fit-content;
            }
            .data-card-header-title h3{color: #dfb844;   padding: 5px 12px;}
            .data-card-header-title a{color: #1d548e;}
          .data-card-header-date{}
          .data-card-header-date-tag{
            width: 10%;
            background: #23282d;            
            border-radius: 5px;
            color: #4caf50;
              padding: 5px 12px;
              width: fit-content;
          }
        .data-card-body{
          padding: 0 4em;
            text-align: center;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        } 

          .data-card-body h3{color: #ececec;font-size: 50px;}
          .data-card-body a{color: #1d548e;font-size: 1.2em;}
          .data-card-body p{color: #c2c0c0;font-size: 18px;}


          .mailButton:hover {
              background-color: #1c2026;
              cursor: pointer;
          }
          .mailButton {
              background-color: #242327;
              border: 1px solid #171719;
          }
          .mailButton a{
            color:#009688;
          }

          @media (max-width: 768px) {
            .profile-card {
              margin: 5px;
            }
            .profile-img-content {
                width: 100%;
            }
            .profile-img-content img {
                top: -51%;
                width: 50%;
                margin-left: 13%;
            }

            .profile-titles {
              width: 100%;
              padding: 2px 10px;
            }
            .profile-titles h2 {
                font-size: 1.5rem;
                text-align: center;
            }

            .profile-description-list-elem span {
                margin-left: 1.3em;
              }

            .profile-description-list {
                flex-wrap: wrap;
                flex-direction: column;
            }
            .correo-perfil{
              font-size: 15px !important;
            }
            .tab-section-item {
                font-size: 1em;
              }
              .data-card {
                margin: 5px;
                padding: 1em 8px;
              }
              .data-card-header {
                flex-wrap: wrap;
            }
              .data-card-header-foto {
                  width: 20%;
              }
              .data-card-header-title {
                  width: 78%;
                }
                .tag-title{font-size: 10px;}
              .data-card-header-date-tag {
                  font-size: 10px;
                  border-radius: 0 5px 5px 0;
              }
              .data-card-body {
                  padding: 0px 0px;
              }

              .data-card-header-title h3 {font-size: 15px; }
                .data-card-body h3 { font-size: 30px; }
                .data-card-body a { 
                  font-size: 12px; 
                  white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 300px;
                }
          }


    .section-selected div{
      color: #dcc272;
    }